/* font-family: 'Aboreto', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@keyframes moveSlideIn {
    100% {
        width: 100%;
    }
}

@keyframes sizeBoxIn {
    100% {
        width: max(25rem, 300px);
    }
}
@keyframes textFadeIn {
    100%{
        height: 10rem;
    }
    
}
@keyframes textVisible {
    100% {
        opacity: 1;
    }
}



* {
    box-sizing: border-box;
    --main-color: #1f1f1f;
    --secondary-color: #fff;

    --nav-width: 20%;

    --animation-slide-time: 1s;
}

body {
    background-color: var(--main-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;

}

.container {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-front {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    overflow: visible;
}

.about {
    background-color: var(--main-color);
    align-content: flex-start;
    flex-wrap: wrap;
    height: auto;
}

.services {
    background-color: var(--main-color);
    align-content: flex-start;
    flex-wrap: wrap;
    height: auto;
}

.wrapper {
    background: inherit;
    padding: 0px;
    height: 100vh;
    display: flex;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    position: absolute;
    max-height: none;
    overflow: visible;
    left: 0px;
    cursor: pointer;
}

.left-section {
    flex: 0 1 var(--nav-width);
    height: 100%;
    background-color: var(--secondary-color);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left-section>div{
    width: 100%;
}
.left-section>.logo{
    flex: 1 1 20%;
    padding: 20%;
}

.left-section .logo div img{
    object-fit: contain;
}
.logo > img{
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    transform: scale(1.4);
}
.left-section>.text{
    flex: 2 1 60%;
    justify-content: center;
    justify-content: center;
}
.left-section>.social{
    flex: 1 1 20%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.social>i{
    font-size: 2rem;
color: var(--main-color);
margin: 1rem 0.5rem;
}

.right-section {
    flex: 1 0 50%;
    height: 100%;
    overflow: hidden;
    display: flex;
}


.slide-container {
    position: relative;
    height: 100%;
    flex: 1 1 20%;
    overflow: hidden;
    transition: transform 0.8s ease,
        rotate 0.6s ease-in-out,
        filter 1.5s ease-in-out,
        flex 1s ease-in;
    perspective: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.slide-container > img{
    width: 0%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 1s ease-in-out,
        rotate 0.6s ease-in-out,
        filter 1.2s ease-in-out;
    animation: moveSlideIn 0.6s ease-out 0.4s forwards;
}

.slide-container > .title{
    position: absolute;
    left: 50%;
    bottom: 50%;
    z-index: 100;
    transform: translate(-50%, 50%); 
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: 200;
    letter-spacing: 0.5rem;
    color: #f1f1f1;
    text-transform: capitalize;
    text-shadow: 0px 2px 8px #3D5A80;
}
.slide-container > .title >.rotate{
    transform: rotate(-90deg);
    background-color: rgba(41, 50, 65, 0.1);
}

.slide-container:hover{
    flex: 1 1 80%;
}

.slide-container > img:hover {
    transform: scale(1.05) rotateZ(1.5deg);
    filter: brightness(120%) contrast(120%);
}

.center-box {
    height: max(calc(100vh - 80%), 300px);
    background-color: var(--secondary-color);
    padding: 1rem;
    width: 0%;
    position: relative;
    transform: translate(0, -50%);
    left: calc(var(--nav-width) - 2%);
    top: 50%;
    overflow: hidden;
    animation: sizeBoxIn 0.6s ease-out 0.3s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    text-overflow: clip;
    transition: opacity 1s ease-in-out, height 0.8s linear;
}
.center-box.hidden{
    opacity: 0;
}
.site-name{
    text-align: center;
    padding: 0 0 0.3rem 0;
    flex: 1 0 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 7px;
    opacity: 0;
    animation: textVisible 0.6s linear 0.8s forwards;
}
.site-caption{
    text-align: center;
    flex: 1 0 100%;
    font-family: 'Montserrat', sans-serif;
    animation: textVisible 0.6s linear 0.8s forwards;
    font-size: 1rem;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    opacity: 0;
}
.site-text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Alumni Sans Pinstripe', sans-serif;
    font-size: 4.5rem;
    padding: 4px;
    font-weight: 100;
    letter-spacing: 1rem;
    overflow: hidden;
    text-align: center;
    text-shadow: 0px 2px 10px gray;
}


.small-slide{
    position: absolute;
    bottom: 0;
    left: -200%;
    height: 50%;
    width: 50%;
    animation: moveSlideIn 1s ease-in-out 0.1s forwards;
    overflow: hidden;
}
.small-slide-bg{
    position: relative;
    background-image: url('img/lighthouse.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    transition: transform 0.5s ease,
        rotate 0.6s ease-in-out,
        filter 1.5s ease-in-out;
}

.angled-section {
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--secondary-color);
    height: 10vh;
    width: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
    margin-top: -1px;
}

.angled-section-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    height: 15vh;
    width: 100%;
    clip-path: polygon(0 0, 100% 50%, 100% 100%, 0 100%);
}

.section-container {
    width: 1024px;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    font-family: 'Montserrat', sans-serif;
    color: #f6f6f6;
    font-size: 2rem;
}

.section-name {
    padding: 1rem;
    transform: skew(3deg);
    flex: 0 0 100%;
    color: var(--main-color);
}

.section-image {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-content {
    font-size: 1.2rem;
    margin-top: -3rem;
    height: 100%;
}

.section-content h1 {
    text-align: center;
}

.section-content p {
    margin: 0 0 1rem 0;
    text-align: justify;
    letter-spacing: 3px;
}

.section-youtube {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.section-divider {
    height: 1px;
    width: 100%;
    background-image: linear-gradient(to left, transparent, #fff, transparent);
    margin: 1rem 0;
}

.circle-image {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
    transform: translateY(-20%);
    overflow: hidden;
}

.circle-image>img {
    width: 110%;
    height: 110%;
    object-fit: cover;
}

.left-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: var(--nav-width);
    height: 0;
    background-color: #1f1f1f;
    opacity: 0.3;
    overflow: hidden;
    z-index: 100;
    transition: all var(--animation-slide-time) ease-in-out;
}

.right-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - var(--nav-width));
    height: 0;
    background-color: rgba(31, 31, 31, 0.8);
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
    transition: all var(--animation-slide-time) ease-in-out;
}

.right-wrapper ul {
    list-style: none;
    margin-left: 2rem;
}

.right-wrapper ul li {
    font-family: 'Montserrat', sans-serif;
    color: #f1f1f1;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.right-wrapper ul li a {
    color: inherit;
    text-decoration: none;
}
.right-wrapper>.main-menu{
    margin-left: 320px;
    z-index: 5000;
}
.right-wrapper>.main-menu ul li:hover {
    text-shadow: 0 0 2px #f5f5f5;
}

.gallery-menu ul li {
    font-size: 1.5rem;
    transition: margin 0.3s ease-in-out 0.2s;
}
.gallery-menu{
    width: 0%;
    overflow: hidden;
    transition: width 0.6s ease-in-out, skew 0.6s ease-in-out;
    z-index: 2000;
}
.gallery-menu.active{
    width: auto;
    transform-origin: 0% 50%;
    transform: skew(10deg);
}
.gallery-menu.active ul li{
    margin-bottom: 2rem;
}
#gallery{
    position: relative;
}
#gallery > div {
    position: absolute;
    top: 50%;
    right: -30%;
    width: 0%;
    border-top: 1px solid #fff;
    height: 0px;
    transition: all 0.3s ease-in;
}
#gallery > div.active{
    width: 40%;
}

.active-wrapper {
    height: 100vh;
}


.site-logo{
    position: absolute;
    left: 50%;
    top: 0;
    height: calc(var(--nav-width));
    height: calc(var(--nav-width));
    padding: 5px;
    z-index: 50;
    overflow: hidden;
    transform: translateX(-40%) scale(2);
    z-index: 2000;
    
}
.site-logo > img{
    object-fit: cover;
    object-position: center center;
    height: 100%;
    width: 100%;
}

.toggle {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 60px;
    padding: 5px 0px;
    cursor: pointer;
    z-index: 500;
}

.toggle:hover>div:first-child {
    margin-bottom: 67%;
    box-shadow: 0 10px 1px gray;
}

.toggle>div {
    border-top: 2px solid #fff;
    transition: margin 0.2s ease, transform 0.7s ease, box-shadow 0.5s ease;
}

.toggle>div:first-child {
    margin-bottom: 13px;
}

.toggle>.active:first-child {
    transform-origin: left bottom;
    transform: rotate(45deg);
    margin-bottom: 67%;
}

.toggle>.active:nth-child(2) {
    transform-origin: left bottom;
    transform: rotate(-45deg);
}



@media (max-width: 1024px)
{
    .site-text{
        font-size: 6rem;
        left: 50%;
    }
    .section-container{
        max-width: 800px;
    }
}
@media (max-width: 768px)
{
    .site-text{
        left: 60%;
    }
    .slide-container:nth-child(4)
    {
        display: none;
    }
    #gallery > div {
        right: 100%;

    }
    .gallery-menu{
        position: absolute;
        left: 130px;
        text-shadow: 0 0 5px var(--secondary-color);
        z-index: 2000;
    }
    .section-container{
        max-width: 690px;
    }
}
@media (max-width: 700px)
{
    .right-wrapper>.main-menu{
        margin-left: -10%;
    }
    #gallery > div {
        right: -30%;
    }
    .gallery-menu{

        left: 180px;
        text-shadow: 0 0 5px var(--secondary-color);
    }
    .site-logo
    {
        width: calc(var(--nav-width) - 40px);
        height: calc(var(--nav-width) - 40px);
    }
    .section-container{
        max-width: 550px;
    }
}

@media (max-width: 568px) {
    .right-wrapper {
        width: 100%;
    }

    .left-wrapper {
        display: none;
    }
    .slide-container:not(.slide-container:first-child)
    {
        display: none;
    }
    *{
        --nav-width: 30%;
    }
    .site-text{
        display: none;
    }
    .site-name{
        font-size: 2rem;
        letter-spacing: 1px;
    }
    .section-container{
        max-width: 300px;
    }
    .right-wrapper>.main-menu ul li{
        font-size: 1.6rem;
    }
    .gallery-menu{
        left: 140px;
    }
    .gallery-menu ul li{
        font-size: 1rem;
    }
    .center-box
    {
        height: 180px;
        left: 0;
    }
    @keyframes sizeBoxIn {
        100% {
            width: calc(100%);
        }
    }
    .site-logo
    {
        width: calc(var(--nav-width) / 2.5);
        height: calc(var(--nav-width) / 2.5 );
        padding: 2px;
    }
    .circle-image {
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
    }
    .section-content p {
        font-size: 1rem;
        letter-spacing: 1px;
    }
    .right-wrapper {
        transition: height 0.5s linear;
    }
    .slide-container > img:hover {
        transform: none;
        filter: none;
    }
    .left-section>.social{
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        flex: 1 1 50%;
        z-index: 2000;
    }
    .social>i{
        font-size: 1.5rem;
        margin: 1rem 0.3rem;
    }
    .left-section>.text{
        flex: 1 1 0%;
    }

}
